<!doctype html>{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>{{article.title}}</title>
    <script defer="defer" src="{% static 'admin/main.js' %}"></script>
</head>

<body class="app">
    <h3>{{article.title}}</h3>
    <div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">
        <!-- <div class="mR-60"><img alt="{{article.title}}" src="{{article.imageURL}}"></div> -->
        <div class="d-f jc-c fxd-c">
            {{article.body|safe}}
        </div>
    </div>
</body>

</html>