<footer class="footer-wrapper ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                <p>Company: {{webcontent.company_name}}; Address: {{webcontent.address}}</p>
                <p>Phone Number: <a href="tel:{{webcontent.phone_number}}">+{{webcontent.phone_number}}</a>; Email: <a href="mailto:{{webcontent.email}}">{{webcontent.email}}</a></p>
                <p>{{webcontent.site_name}}</p>
                <p>{{webcontent.copy_right}}</p>
            </div>
        </div>
    </div>
</footer>