<footer class="footer-wrapper ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ">
                <p>Company: Sino Biological Technology; Address: 3067 Castro Valley BLVD, Castro Valley CA94546</p>
                <p>Phone Number: <a href="tel:15109630068 ">+15109630068</a>; Email: <a href="mailto:hamer2uchecking@gmail.com ">hamer2uchecking@gmail.com</a></p>
                <p>www.hamer2u-checking.com</p>
                <p>© 2021 Home - Hamer USA</p>
            </div>
        </div>
    </div>
</footer>