{% extends 'base.html' %} {% block content %}
<div class="container py-20 mx-auto mt-4 flex flex-col h-screen">
    <h1 class="text-center text-4xl">THANK YOU FOR YOUR ORDER</h1>
    <div class="py-2 align-middle inline-block min-w-full mt-4 sm:px-6 lg:px-8">
        <div class="shadow overflow-x-auto border-b border-gray-200 sm:rounded-md">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                            Hình ảnh
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                            Tên sản phẩm
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                            Khách hàng
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                            Số điện thoại
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                            Địa chỉ
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                            Ghi chú
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                            Tình trạng
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-4 py-4">
                            <img class="w-11 h-11 sm:w-20 sm:h-20 rounded-lg" src="{{retail_product.photo.url}}" alt="{{retail_product.photo_alt}}">
                        </td>
                        <td class="px-6 py-4 whitespace-normal text-sm items-center text-gray-700">
                            {{retail_product.name}}
                        </td>
                        <td class="px-6 py-4 whitespace-normal text-sm items-center text-gray-700">
                            {{order.full_name}}
                        </td>
                        <td class="px-6 py-4 whitespace-normal text-sm items-center text-gray-700">
                            {{order.phone_number}}
                        </td>
                        <td class="px-6 py-4 whitespace-normal text-sm items-center text-gray-700">
                            {{order.address}}
                        </td>
                        <td class="px-6 py-4 whitespace-normal text-sm items-center text-gray-700">
                            {{order.email}}
                        </td>
                        <td class="px-6 py-4 whitespace-normal text-sm items-center text-gray-700">
                            {{order.notes}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm items-center text-gray-700">
                            <span class="px-4 py-1 inline-flex text-xs leading-5 font-semibold rounded-md bg-green-100 text-green-800">
                                Đã lưu
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}