<div class="section-slide">
    <div class="section-heading">
        37F82K
    </div>
    <div class="swiper-container swiper-custom-theme" id="slideSwiper-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/2_37F82K/1.jpeg' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/2_37F82K/2.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/2_37F82K/3.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/2_37F82K/4.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/2_37F82K/5.jpeg' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/2_37F82K/6.jpeg' %} " alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="section-slide">
    <div class="section-heading">
        E854A9
    </div>
    <div class="swiper-container swiper-custom-theme" id="slideSwiper-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/3_E854A9/1.jpeg' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/3_E854A9/2.jpeg' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/3_E854A9/3.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/3_E854A9/4.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/3_E854A9/5.jpeg' %} " alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="section-slide">
    <div class="section-heading">
        M293F2
    </div>
    <div class="swiper-container swiper-custom-theme" id="slideSwiper-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/4_M293F2/1.jpeg' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/4_M293F2/2.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/4_M293F2/3.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/4_M293F2/4.jpeg' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/4_M293F2/5.jpeg' %} " alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="section-slide">
    <div class="section-heading">
        G28Q79
    </div>
    <div class="swiper-container swiper-custom-theme" id="slideSwiper-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/5_G28Q79/1.jpeg' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/5_G28Q79/2.jpeg' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/5_G28Q79/3.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/5_G28Q79/4.PNG' %} " alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-inner position-relative overflow-hidden">
                    <img src="{% static 'public/upload/slide/5_G28Q79/5.jpeg' %} " alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>